/*

673333	4D3030	431111	B36F6F	B38181
My Custom CSS
=============

Author:  Adam Boiko
Updated: April 29 2014

*/


/* --------------------------------------
   Layout
   -------------------------------------- */

* {
	font-family: 'Lato', sans-serif;
}

#features {
	text-align: center;
}

#features img {
	margin: 0 0 20px;
}

#inputMessage {
	margin-bottom: 15px;
}

footer {
	background-color: rgba(21, 3, 13, 0.9);
	color: #F8F8F8;
	font-size: 11px;
	padding: 20px;
	
}


/* --------------------------------------
   Typography
   -------------------------------------- */

body {
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizelegibility;
}

.well .page-header {
	margin-top: 0;
}

.well .page-header h1 {
	margin-top: 0;
}

ul.unstyled {
	list-style: none;
	padding: 0;
}

.styled {
	list-style: circle;
	text-align: left;
	line-height: 20px;
}

/* --------------------------------------
   Navbar
   -------------------------------------- */

#searchInput {
	width: 200px;
}

.navbar-brand {
	padding: 13px 15px;
}

.navbar {
	background-color: rgba(21, 3, 13, 0.9);
	margin-bottom: 0;
}

.navbar-inverse .navbar-nav>.active>a,  .navbar-inverse .navbar-nav>.active>a:hover{
	background-color: rgba(144, 71, 71, 0.5);
}

.navbar-inverse .navbar-nav>li>a:hover{
	background-color: #563636;
}

.navbar-inverse .navbar-nav>li>a {
	color: #d6d6d6;
}
   
/* --------------------------------------
   Carousel
   -------------------------------------- */

.carousel-inner {
	background: #B36F6F;
	background: url('../../images/background.jpg') fixed;
}

.carousel-caption {
	top:10%;
	font-family: 'Lato', sans-serif;
	font-size: 20px;
	line-height: 10px;
	font-weight: 200;
}

.col-centered {
	display: table;
	width: 50%;
	padding-left: 10px;
	padding-bottom: 10px;
	margin-left: 25%;
	margin-right: 25%;
	margin-bottom: 20px;
	text-align:left;
	border: 1px solid #c79494;
	border-radius: 5px;
}

.left {
	padding-top: 100px;
}

.carousel-caption h4 {
	font-size: 32px;
	font-weight: 700;
}


.welcome, .sub-heading {
	text-align: left;
}



#myCarousel .item {
	height: 400px;
	
}
.faqBtn {
	margin-top: 5px;
}


/* --------------------------------------
   Global Styles
   -------------------------------------- */

h3 {
	font-family: 'Lato', sans-serif;
}

.im-centered {
	margin: auto; 
	max-width: 900px;
}
.alert {
	margin-top: 20px;
	display: none;
}

.btn-default {
	background-color: #B36F6F;
	border-color: #B36F6F;
}

.btn-link {
	color: #B36F6F;
}

.scroll-btns {
	background-color: #c79696;
	border-color: #c79696;
	margin-bottom: 10px;
}

#hidden-div {
	display: none;
}

.form-space {
	margin-top: 40px;
}

.bright {
	margin-top: 40px;
}

.bleft {
	margin-top: 20px;
}

#email, #name {
	width: 30%;
}

#inputMessage{
	width: 60%;
}

.selection-fields {
	margin-top: 15px;
}

.bottom-field {
	margin-bottom: 10px;
}
a {
	color: #B36F6F;
}

a:hover {
	color: #cda0a0;
	text-decoration: none;
}
#shadow {
	position: absolute;
	display: block;
	left: 20%;
}

.hidden-text {
	margin-top: 50px;
}

.marginfix {
	margin-top: 85px;
}

.pages {
	overflow: hidden;
}

#pages {
	position: relative;
	background-color: #cc9f9f;
	height: 120px;
	transition: all 0.2s;
	-moz-transition: all 0.2s;
	-webkit-transition: all 0.2s;
	overflow: hidden;
}

#pages:hover {
	background-color: #B36F6F;
	min-height: 279px;
	overflow: visible;
	color: #eeeeee;
	
}

#pages:hover .pMiddle, #pages:hover .pLeft {
	border-right: 1px solid #864646;
}


#pages h2 {
	color: #3c3c3c;
	text-shadow: 1px 1px #c3c3c3;
}

#pages-section {
	font-weight: 600;
	text-align: center;
	transition: all 1s;
	-moz-transition: all 1s;
	-webkit-transition: all 1s;	
}

.pMiddle {
	border-left: 1px solid #c28b8b;
	border-right: 1px solid #d2aaaa;
	
}

.pLeft {
	border-right: 1px solid #d2aaaa;
}

.pRight {
	border-left: 1px solid #c28b8b;
}

.well {
	margin: 20px 0;
}

.tabbable img.thumbnail {
	margin: 0 20px 10px 0;
}

.thumbnails {
	margin: 20px 0;
}

.thumbnail {
	position: relative;
	border: 1px solid #c79494;
}

.thumbnail h3 {
	font-size: 16px;
	margin: 0 0 10px;
	line-height: 20px;
}

.thumbnail .price {
	font-size: 22px;
	position: absolute;
	top: -10px;
	right: -10px;
	padding: 10px;
}

.thumbnail .price sup {
	font-weight: normal;
	font-size: 12px;
}

.thumbnail span.glyphicon {
	margin-right: 5px;
}




/* --------------------------------------
   Media Queries
   -------------------------------------- */

/* Portrait & landscape phone */
@media (max-width: 480px) {
	
	.thumbnail .price {
		font-size: 14px;
	}
	
	.thumbnail .price sup {
		font-size: 10px;
	}
	
}

/* Portrait & landscape phone */
@media (max-width: 1199px) {
	
	.marginfix {
	margin-top: 50px;
	}
	
	.bright {
	margin-top: 20px;
	}
	
	.bleft {
	margin-top: 0px;
	}
}




